.add-on-conatiner{
  margin-top: 100px;
}
.add-on-header{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: var(--header-background);
}
.add-on-header span{
  font-weight: 600;
  font-size: 18px;
}
.add-on-header button {
  padding: 3px 10px;
  background-color: #97CB2B;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
  font-size: 14px; /* Making the button text smaller */
  display: flex;
  align-items: center;
  gap: 20px; /* Adding space between text and plus symbol */
}

.add-on-header button span {
  font-size: 18px; /* Making the plus symbol larger */
  font-weight: bold;
  line-height: 1;
}

.add-on-items-container{
  margin-top: 50px;

}
.add-on-item-content{
  display: none;
}

.add-on-item-content.open{
  display: block;
}
.add-on-item{
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 50px;
  background-color: var(--header-background);
}
.add-on-item-header{
  display: flex;
  padding: 3px;
  border: 1px solid #c6c6c6;
  border-radius: 10px 10px 10px 10px;
  /* justify-content: space-between; */
  padding: 10px;
  gap:10px;
  cursor: pointer;
  }
.add-on-item-header span {
  flex-grow: 1;
  font-weight: 600;
}
.add-on-item-header img{
  width: 30px;
}
.add-on-content-item {
  display: flex;              
  align-items: center;        
  gap: 10px;                  
  padding: 10px;   
  padding-bottom: 3px;         
}

.add-on-content-item img {
  width: 20px;                
  height: 40px;               
}

.add-on-content-item span:nth-child(2) {
  flex-grow: 1;              
  font-size: 16px;            
}

.add-on-content-item span:nth-child(3) {
  font-size: 16px;            
  font-weight: bold;          
}
.add-check-box {
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* Safari-specific */
  width: 20px; /* Size of the checkbox */
  height: 20px;
  border: 2px solid #AFD75B; /* Border color */
  border-radius: 3px; /* Optional: make the checkbox slightly rounded */
  background-color: white; /* Background color */
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.add-check-box:checked {
  background-color: #AFD75B; /* Background color when checked */
}

.add-check-box:checked::before {
  content: '✔'; /* Tick mark */
  font-size: 16px;
  color: white; /* Tick mark color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-on-submit-button{
  margin-top: 10px;
  float: right;
  margin-right: 50px;
  padding: 7px 25px 7px 25px;
  background-color: #39B939;
  border-radius: 3px;
  color: white;
  outline: none;
  border: none;
}