.zpt-add-on-container {
  margin-top: 100px;
}
.zpt-add-on-container h1{
 text-align: center;
 font-size: 25px;
 margin-bottom: 25px;
}
.zpt-add-on-header {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zpt-add-on-header span {
  font-weight: 600;
}
.zpt-add-on-header button {
  padding: 7px;
  background-color: #AFD75B;
  border-radius: 5px;
} 

.zpt-add-on-items-container {
  margin-top: 50px;
}

.zpt-add-on-item-content {
  display: none;
  
}

.zpt-add-on-item-content.zpt-open {
  display: block;
}

.zpt-add-on-item {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 50px;
}

.zpt-add-on-item-header {
  display: flex;
  padding: 3px;
  border: 1px solid #B3B3B3;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  background-color: var(--header-background);
}

.zpt-add-on-item-header span {
  flex-grow: 1;
  font-weight: 600;
}

.zpt-add-on-item-header img {
  width: 30px;
}

.zpt-add-on-content-item {
  display: flex;              
  align-items: center;        
  gap: 10px;                  
  padding: 10px;      
  padding-bottom: 0px;
  background-color: var(--header-background);        
}

.zpt-add-on-content-item img {
  width: 20px;                
  height: 40px;               
}

.zpt-add-on-content-item span:nth-child(2) {
  flex-grow: 1;              
  font-size: 16px;            
}

.zpt-add-on-content-item span:nth-child(3) {
  font-size: 16px;            
  font-weight: bold;          
}

.zpt-add-check-box {
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* Safari-specific */
  width: 20px; /* Size of the checkbox */
  height: 20px;
  border: 2px solid #AFD75B; /* Border color */
  border-radius: 3px; /* Optional: make the checkbox slightly rounded */
  background-color: white; /* Background color */
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.zpt-add-check-box:checked {
  background-color: #AFD75B; /* Background color when checked */
}

.zpt-add-check-box:checked::before {
  content: '✔'; /* Tick mark */
  font-size: 16px;
  color: white; /* Tick mark color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zpt-add-on-submit-button {
  margin-top: 50px;
  float: right;
  margin-right: 100px;
  padding: 3px 15px;
  background-color: #88c407;
  border-radius: 3px;
  color: white;
  outline: none;
  border: none;
}
