.zpt-add-on-container {
  margin-top: 100px;
}
.zpt-add-on-container h1{
 text-align: center;
 font-size: 25px;
 margin-bottom: 25px;
}
.zpt-add-on-header {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zpt-add-on-header span {
  font-weight: 600;
}
.zpt-add-on-header button {
  padding: 7px;
  background-color: #AFD75B;
  border-radius: 5px;
} 

.zpt-add-on-items-container {
  margin-top: 50px;
}

.zpt-add-on-item-content {
  display: none;
  
}

.zpt-add-on-item-content.zpt-open {
  display: block;
}

.zpt-add-on-item {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 50px;
}

.zpt-add-on-item-header {
  display: flex;
  padding: 3px;
  border: 1px solid #B3B3B3;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  background-color: var(--header-background);
}

.zpt-add-on-item-header span {
  flex-grow: 1;
  font-weight: 600;
}

.zpt-add-on-item-header img {
  width: 30px;
}

.zpt-add-on-content-item {
  display: flex;              
  align-items: center;        
  gap: 10px;                  
  padding: 10px;      
  padding-bottom: 0px;
  background-color: var(--header-background);        
}

.zpt-add-on-content-item img {
  width: 20px;                
  height: 40px;               
}

.zpt-add-on-content-item span:nth-child(2) {
  flex-grow: 1;              
  font-size: 16px;            
}

.zpt-add-on-content-item span:nth-child(3) {
  font-size: 16px;            
  font-weight: bold;          
}

.zpt-add-check-box {
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* Safari-specific */
  width: 20px; /* Size of the checkbox */
  height: 20px;
  border: 2px solid #AFD75B; /* Border color */
  border-radius: 3px; /* Optional: make the checkbox slightly rounded */
  background-color: white; /* Background color */
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.zpt-add-check-box:checked {
  background-color: #AFD75B; /* Background color when checked */
}

.zpt-add-check-box:checked::before {
  content: '✔'; /* Tick mark */
  font-size: 16px;
  color: white; /* Tick mark color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zpt-add-on-submit-button {
  margin-top: 50px;
  float: right;
  margin-right: 100px;
  padding: 3px 15px;
  background-color: #88c407;
  border-radius: 3px;
  color: white;
  outline: none;
  border: none;
}


.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(166, 166, 166, 0.4); /* Dim background */
  /* backdrop-filter: blur(6px); Add blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.custom-modal-container {
  /* background: #ffff ff; */
  background-color: var(--header-background);
  border-radius: 8px;
  width: 360px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #b3db5f;
  border-radius: 6px 6px 0 0;
}

.custom-modal-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.custom-modal-close-button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

.custom-modal-close-button:hover {
  color: #222;
}

.custom-modal-body {
  margin: 15px 0;
  font-size: 15px;
  /* color: #444; */
  color: var(--primary-text);

}

.custom-modal-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

.custom-modal-footer button {
  flex: 1;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.custom-modal-cancel-button {
  background: #f0f0f0;
  color: #333;
}

.custom-modal-cancel-button:hover {
  background: #e0e0e0;
}

.custom-modal-delete-button {
  background: #ff4d4f;
  color: #fff;
}

.custom-modal-delete-button:hover {
  background: #e43c3e;
}

