@import '../../../mixins.scss';
@keyframes blinkBackground {
    0% { 
        background-color: red; 
        border: none; /* No border when background is red */
    }
    50% { 
        background-color: transparent; 
        border: 1px solid rgb(243, 203, 203); 
        color: black;
        
        /* Border appears when background is transparent */
    }
    100% { 
        background-color: red; 
        border: none; /* No border when background is red */
    }
}

.blinking-background {
    background-color: red;
    animation: blinkBackground 1s infinite;
}
.order-tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 10px;


    @include md {
        grid-template-columns: repeat(2, 1fr);
    }

    button {
        text-transform: none;
        border: 2px solid #92cc11;
        border-radius: 6px;
        padding: 7px 12px !important;
        color: var(--order-tabs);

        &.active {
            border: 2px solid transparent;
            background: rgba(139, 199, 9, 0.6509803922);
            color: #fff;
        }

        span {
            margin-left: 5px;
            font-weight: 700;
        }
    }
}

.order-details {
    width: 100%;
    padding: 0;
    margin-top: 20px;

    .order-details-body {
        display: flex;
        align-items: flex-start;
        color: var(--primary-text);
        background: var(--sidebar-background);
        box-shadow: var(--box-shadow);
        padding: 25px 20px;
        margin-bottom: 20px;
        border-radius: .8rem;
        overflow: hidden;

        @include md {
            flex-direction: column;
        }

        .leftBox {
            width: 35%;
            font-size: 14px;

            @include md {
                width: 100%;
            }

            .orderStatus {
                width: 120px;
                text-align: center;

                h3 {
                    font-size: 16px;
                    background: #52c234;
                    color: #fff;
                    padding: 5px;
                    border-radius: 5px;

                }
            }

            h4 {
                font-weight: 400;
                margin-bottom: 15px;
                font-size: 15px;

                span {
                    font-weight: 700;
                }
            }

            h5 {
                font-size: 17px;
                font-weight: 400;
                margin-bottom: 13px;
            }

            p {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .rightBox {
            width: 70%;
            border-left: 2px solid rgba(161, 161, 161, 0.253);
            padding-left: 20px;

            @include md {
                width: 100%;
                margin-top: 10px;
                padding-top: 20px;
                padding-left: 0;
                border-top: 2px solid rgba(161, 161, 161, 0.253);
                border-left: 0;
            }


            .order-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 13px;
                .item-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    .item-box {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        gap: 10px;

                        img {
                            width: 15px;
                            height: 15px;
                            object-fit: cover;
                            border-radius: 4px;
                        }

                        p {
                            font-weight: 550;
                            margin-bottom: 0;

                            span {
                                border-bottom: dashed rgba(128, 128, 128, 0.589);
                            }
                        }
                    }

                    button {
                        color: red;
                        font-size: 14px;
                        text-transform: none;
                        padding: 0 !important;
                    }
                }
            }

            .additional-info {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;
                background: var(--order-request);
                border-radius: 8px;
                border: 1px solid #ffc358;
                margin: 25px 0;

                p {
                    font-weight: 650;
                    margin-bottom: 0;
                    font-size: 13px;

                    span {
                        color: brown;
                    }
                }
            }

            .bill-details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 13px;

                .bill-detail {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    p {
                        margin-bottom: 0;
                        border-bottom: dashed grey;
                    }

                    span {
                        color: var(--paid-text);
                        font-weight: 650;
                        background: #9ae4f62a;
                        border: 2px solid #00ccff;
                        border-radius: 5px;
                        padding: 1px 5px;
                        text-transform: uppercase;
                    }
                }
            }

            .price {
                margin-bottom: 0;
                font-weight: 600;
            }

            .timer-button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
                gap: 15px;

                .add-time-btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 50px;
                    background: var(--add-time);
                    border-radius: 6px;

                    button {
                        color: var(--primary-text);
                        background: transparent;
                        width: 30%;
                        height: 100%;
                        padding: 12px 0;
                    }

                    span {
                        font-weight: 650;
                    }

                    
                }

                .confirm-btn {
                    width: 200px;
                    padding: 7px 0;
                    color: #fff;
                    background: #92cc11;
                    font-weight: 600;
                    border-radius: 6px;
                    text-transform: capitalize;
                }

                .preparing-btn {
                    width: 100%;
                    height: 50px;
                    color: var(--primary-text);
                    background: #a2df1f;
                    font-weight: 600;
                    padding: 12px 0;
                    text-transform: capitalize;

                    span {
                        margin-left: 5px;
                    }
                }
            }
          
            .progress-bar-container {
                position: relative;
                height: 40px;
                width: 100%;
                background-color: #217aff;
                // background-color: #b3db5f;
                border-radius: 8px;
                overflow: hidden;
                display: flex;
                align-items: center;
                margin-top: 15px;
                user-select: none;

                .progress-bar {
                    position: absolute;
                    height: 100%;
                    background-color: #020e5248;
                    // background-color: #0066ff1e;
                    border-radius: 8px;
                    transition: width 1s linear;
                    z-index: 1;
                }

                .progress-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    color: #ffffffd7;
                    font-weight: 650;
                    text-align: center;
                    margin-bottom: 0;
                    z-index: 1;

                    span {
                        margin-left: 5px;
                    }
                }
            }


            
            .need-more-time {
                margin-top: 20px;

                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .need-time {
                        height: 45px;
                        background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
                        text-align: center;
                        text-transform: uppercase;
                        transition: 0.5s;
                        background-size: 200% auto;
                        color: white;
                        box-shadow: var(--box-shadow);
                        display: block;
                        text-transform: capitalize;

                        &:hover {
                            background-position: right center;
                        }

                    }

                    .ready-btn {
                        height: 45px;
                        background-image: linear-gradient(to right, #52c234 0%, #2b9107 51%, #52c234 100%);
                        text-align: center;
                        text-transform: uppercase;
                        transition: 0.5s;
                        background-size: 200% auto;
                        color: white;
                        box-shadow: var(--box-shadow);
                        display: block;
                        text-transform: capitalize;

                        &:hover {
                            background-position: right center;
                        }

                    }
                }



                
                
                .more-time-btn {
                    h5 {
                        color: red;
                        font-size: 18px;
                        text-transform: uppercase;
                        margin-bottom: 0;
                    }

                    .add-time-btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 15px;
                        gap: 15px;
                        background: var(--add-time);

                        .timer {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            width: 100%;
                            height: 50px;
                            border-radius: 6px;

                            button {
                                color: var(--primary-text);
                                background: transparent;
                                width: 30%;
                                height: 100%;
                                padding: 12px 0;
                            }
                        }

                        .ok-btn {
                            width: 150px;
                            height: 45px;
                            color: #fff;
                            background-color: rgba(139, 199, 9, 0.6509803922);
                        }
                    }
                }



                // .ready-btn {
                //     height: 45px;
                //     margin-top: 15px;
                //     padding: 0 10px;
                //     color: #fff;
                //     background: rgba(139, 199, 9, 0.6509803922);
                // }
            }

             .time-slabs {
                display: flex;
                justify-content: space-around;
                
                margin-top: 15px;
                gap:20px;
                font-size: 12px;
            }
            
            .slab {
                align-content: center;
                background-color: #f0f0f0;
                border: 1px solid #ccc;
                border-radius: 8px;
                padding: 5px;
                width: 90px;
                height: 40px;
                font-weight: 750;
                text-align: center;
                 color: #333;
                cursor: pointer;
                transition: background-color 0.3s ease, box-shadow 0.3s ease;
            }
            .slab.active {
                background-color: rgba(139, 199, 9, 0.6509803922); /* Active color */
                color: white; /* Change text color for active state */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
            }
            
            .slab:hover {
                background-color: #e0e0e0;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
            
            .slab:active {
                background-color: rgba(139, 199, 9, 0.6509803922)
            }
           
            .slab-confirm-btn{
            
                    width: 200px;
                    padding: 7px 0;
                    color: #fff;
                    background: #92cc11;
                    font-weight: 600;
                    border-radius: 6px;
                    text-transform: capitalize;
                
            }
        }
    }
}



